.col{ 
    border: 1px salmon;
    border-radius: 3px;
    border-style: solid;
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-top: 10%;


}



navbar {
    width: 100%;
    background: #37375c;
    height: 65px;

}

nav.li {
    display: inline-block;
    margin-right: -4px;
    width: 25%
    height: 100%;


}

nav.li.a {
    color: white;
    text-align: center;

}


div.nameface {
    padding: 2%
}

.col.bio {
    word-spacing: 2px;
    letter-spacing: 0.5px;
    line-height: 150%;
    text-align: center;
    padding: 2%;
    margin-left: 0;
}

.col.name {
    text-align: center;
}


footer {
    position:absolute;
    bottom:0;
    width: 95%;
    height:30px;   /* Height of the footer */
    background: #463f349df8;
}
footer > p {
    text-align: center;
}